@charset "ISO-8859-1";

.about{
	font-family: 'Montserrat', sans-serif;
	position: relative;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5rem 2rem 2rem;
	justify-content: center;
	align-items: center;
	display: flex;
}

.container{
	position: relative;
	flex-direction: column;
}

.about .container .content{
	column-gap: 40px;
	width: 100%;
}
.about-info .description{
	max-width: 600px;
}

.about-info .description h3{
	color: #272727;
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 10px;
}

.btn{
	background-color: rgb(156, 156, 156);
	color: white;
	font-weight: 500;
	display: inline-block;
	margin-top: 25px;
	padding: 20px 30px;
	letter-spacing: 1px;
	border-radius: 10px;
	box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
	justify-content: center;
	align-items: center;
	display: flex;
}


.btn:hover{
	background-color: rgb(68, 68, 68);
	box-shadow: 0 5px 25px rgb(146, 146, 146);
}
a{
	text-decoration: none;
}
